body
  color: $color-text
  +light
  
.button-o
  +bold
  padding: 17px 22px
  font-size: 12px
  border: 2px solid $color-text-light
  text-transform: uppercase
  color: #262626
  background-color: #fff
   
.button
  padding: 25px 45px
  text-transform: uppercase
  border: none // отключили обводку
  background-color: #fff
  color:#262626
  +bold

@media   (max-width: 1023px)
.button
   padding: 20px  30px

@media   (max-width: 576px)
.button-o
   font-size: 10px
   
   
   











