.hero
  background: #DBDBd9  url('../img/Untitled.png')no-repeat right top 80px
  background-size: contain
  padding-top: 180px
  padding-bottom: 270px
  &_title
    font-size: 30px
    margin-bottom: 40px
  &_subtitle
    display: block
    font-size: 30px
    +bold
    margin-bottom: 67px
 

 
  
  
   